#circulo{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px;
    border-style: solid;
 
    border-radius: 100%;
    background-color: rgb(42, 50, 165);
}
.sub-menu{
    margin-left: 55px;
    display: inline-block;

}
aside > p{
    color: cornsilk;
}